# compiled output
/build
/logs
/dist
/dist-server
/tmp
/out-tsc
/logs

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

package-lock.json
yarn-error.log
yarn.lock
debug.log
.npmrc

# environments
/environments/.env

# docker

/docker/redis_data
/docker/mongo-data
/docker/dockervolume

